titanium.sdk=TITANIUM_SDK
titanium.os=osx
titanium.version=TITANIUM_VERSION
android.sdk=/Users/nderzhak/android-sdk

titanium.platform=${titanium.sdk}/mobilesdk/${titanium.os}/${titanium.version}/android
default.android.platform=${android.sdk}/platforms/android-4
default.google.apis=${android.sdk}/add-ons/google_apis-4
