titanium.sdk=/Library/Application\ Support/Titanium/
titanium.os=osx
titanium.version=TITANIUM_VERSION
android.sdk=/Users/vasyl/android-sdk-mac_x86

titanium.platform=${titanium.sdk}/mobilesdk/${titanium.os}/${titanium.version}/android
android.platform=${android.sdk}/platforms/android-4
google.apis=${android.sdk}/add-ons/google_apis-4
